

body{
    background: rgb(255,239,186);
    background: linear-gradient(90deg, rgba(255,239,186,1) 41%,
    rgba(199,199,199,1) 94%);
    display: flex;   
    flex-flow: column wrap; 
    align-items: center;
    font-family: 'Happy Monkey', cursive;
    margin: 15px;  
    border-radius: 8px;
   
}

.girl{
margin-right: -50px;
width: 100px;
height: 200px;
}

nav{
    position: relative; right: 750px;
    }
.kysymys{
margin: 10px;

}
.otsikko{
    font-size: 60px;
background-color: aliceblue;
border: 1px solid black;
text-align: center;
width: 30%;
border-radius:5px 25px 15px;
box-shadow: 15px 10px 10px;
margin-bottom: 30px;
padding-top: 30px;
padding-bottom: 30px;


}
header{
font-size: 50px;
text-align: center;
background-color: aliceblue;
border: 1px solid black;
width: 60%;
border-radius:15px 50px 25px;
box-shadow: 15px 10px 10px rgb(72, 93, 80);
margin-bottom: 40px;
}
header img{
    width: 60%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.aristoteles{
    margin-bottom: 30px;
    border: 2px solid aliceblue;
    border-radius: 4px;
    padding: 5px;
    
}
.aristoteles:hover {
    box-shadow: 0 0 2px 1px #d6ac5c;
    width: 303px;
    height: 303px;
  }

h1{
font-size: 40px;

}

p{
font-size: 20px;
}

ol{
list-style-type:decimal;
}

.alias1{
margin-bottom: 5px;
}


input[type="radio"]{
content: text;
appearance: none;
height: 40px;
width: 60px;
background-color: aliceblue;
border: 1px solid black;
border-radius: 2.5px;
cursor: pointer;
align-items: center;
justify-content: center;
text-align: center;
vertical-align: middle;

}
input:hover{
    box-shadow: 0 0 2px 1px #d6ac5c;
}



input[type="radio"]:after{

font-weight: 900;
content: "\0254";
font-size: 50px;
display: none;
}

input[type="radio"]:checked{
background-color: #5bcd3e;
}



label{
color: #4c4c4c;
font-size: 20px;
font-weight: 600;
cursor: pointer;
}

select {
appearance: none;
outline: 0;
padding: 0.5em;
cursor: pointer;
background-image: none;
-webkit-appearance:none;
-moz-appearance: none;
-ms-appearance: none;
box-shadow: none;
background-color:aliceblue;
width: 10em;
border-radius: .25em;
margin-bottom: 10px;
}

button{
padding: 7.5px;
background-color:#d6ac5c ;
border-radius: 3px 5px 5px;
}

button:hover{
    box-shadow: 0 0 2px 1px #d6ac5c;
}

footer{
    padding-top: 40px;
    width: 100%;
    text-align: center;
    display: block;
    color: black;
    padding-bottom: 80px;
}

.vastaus{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media (max-width:991px){

    header{
        font-size: 40px; 
        width: 80%;  
    }

    .girl{
     width: 0px;
     height: 0px;
    
    }

    .otsikko{
        font-size:40px;
        width: 90%;
    }
nav{
    position:relative; right: 50px;
}

}