img {
    height: 50%;
    width: 50%;
    margin-bottom: 30px;
}

.row {
    margin-bottom: 10px;
}

.col {
    text-align: center;
    padding: 50px;
}

h3 {
    margin: 10px 0 30px 0;
}


.choices {
    display: inline-block;
    background-color: #a55fa5;
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px 30px 10px 30px;
    margin: 5px;
}


.choices:hover {
    box-shadow: 0px 12px 12px 0px rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

.choices:disabled {
    transform: scale(1);
    box-shadow: none;
}

.infos, .points {
    padding: 20px;
    display: none;
}

.button {
    display: inline-block;
    margin: 10px;
    background-color: #c9b4dd;
    border-radius: 8px;
    padding: 5px 20px 5px 20px;
}

.button:hover {
    transform: scale(1.1);
    box-shadow: 0px 12px 12px 0px rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

input[type='radio'] {
    background-color: aquamarine;
}

#question2, #question3, #question4, #question5 {
    display: none;
}