img {
    max-height: 100%;
    max-width: 100%;
    padding: 10px;
}

.row {
    margin-bottom: 10px;
}

.col {
    text-align: center;
}

section {
    padding-top: 100px;
    padding-bottom: 20px;
}

button {
    display: inline-block;
    margin: 5px;
    background-color: #a55fa5;
    border-radius: 8px;
    padding: 10px;
}

[class^="button"] {
    width: 50%;
}

[class^="button"]:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transform: scale(1.05);
}

[class^="button"]:focus {
    background-color: #6a5181;
}

