
body {
    background: rgb(255,239,186);
    background: linear-gradient(90deg, rgba(255,239,186,1) 41%, rgba(199,199,199,1) 94%);
    font-family: 'Happy Monkey', cursive;
    text-align: center;
}

h1 {
    padding: 10px;
    font-size: 30px;
}


.laskut {
    padding: 10px;
}

.laskut span {
    background: none;
}

input {
    margin-bottom: 35px;
    background: white;
}
button {
    margin-left: 10px;
    padding: 10px;
    background: white;
}

#tulokset {
    margin-left: 10px;
    margin-top: -30px;
}

/* FOOTER */

footer {
    border-top: 1px solid rgb(138, 135, 135);
    padding: 1rem;
    margin-top: 200px;
    display: block;
  }
  
  footer span {
    text-align: center;
    width: 100%;
    display: block;
    color: black
  }